*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Heebo', sans-serif;
}

.col-1_6{ 
    width: calc(100% / 6) 
}

.col-2_6{ 
    width: calc(100% / 6 * 2) 
}

.col-4_6{ 
    width: calc(100% / 6 * 4) 
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

[class*="col-"]{
    float: left;
}

.containerHeader__nav__btnContainer__btn,
.containerHeader__Hero__btnContainer__btnLight,
.containerHeader__Hero__btnContainer__btnDark,
.sectionContainerLast__btnBox__btn,
.containerFooter__btn{
    border: 0;
    border-radius: 20px;
    background-color: white;
    margin: 0 10px;
    padding: 5px 20px;
}


/* ELEMENTS */

header{
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-position: center;
}

footer{
    background-color: #23272A;
}

.containerHeader, 
.sectionContainer,
.containerFooter{
    width: 980px;
    margin: 0 auto;
}

.containerHeader__nav{
    padding: 15px;

}

.containerHeader__nav__img{
    object-fit: none;
}

.containerHeader__nav__list{
display: inline-block;
list-style: none;
text-align: center;
padding: 9px 0;
}
.containerHeader__nav__list__listItem{
    display: inline-block;

}

.containerHeader__nav__list__listItem__link{
    font-size: 12px;
    color: white;
    text-decoration: none;
    padding: 10px;
}

.containerHeader__nav__btnContainer{
    padding: 5px 0;
    text-align: right;
}

.fa-long-arrow-alt-down{
    margin-right: 5px;
}

.containerHeader__Hero__btnContainer__btnDark{
    color: white;
    background-color: #23272A;

}

.containerHeader__Hero{
    margin: auto;
    text-align: center;
    color: white;
    padding: 90px;
    float: none;
}

.containerHeader__Hero__title{
    font-size: 45px;
 
}

.containerHeader__Hero__par{
    font-size: 12px;
    padding: 20px 0;
}

.sectionContainer{
    padding: 70px 0;
}

.sectionContainer__img{
    display: inline-block;
    padding: 10px 0;
    padding-right: 10px;
}
.sectionContainer__text{
    display: inline-block;
    padding-top: 25px;
    padding-left: 50px;
}

.sectionContainer__text__title{
font-size: 40px;
}

.sectionContainer__text__par{
    font-size: 15px;
    padding: 25px 0;
}

.sectionContainerLast{
    margin-bottom: 20px;
}

.sectionContainerLast__textBox{
    padding: 0 95px;
}

.sectionContainerLast__btnBox__img{
    width: 38%;
    transform: translateY(20px);
}

.sectionContainerLast__btnBox__btn{
    color: white;
    background-color:rgb(145, 161, 220);
    margin-top: 25px;
}

.containerFooter__containerSocialLink{
    padding: 30px 0;
    border-bottom: 1px solid rgb(76, 88, 127);
}

.containerFooter__social{
    padding-right: 50px;
}

.containerFooter__social__title{
    color: rgb(118, 138, 212);
    font-size: 28px;
    margin-bottom: 15px;
}

.containerFooter__social__language{
    color: white;
}

.containerFooter__social__language__flag{
    width: 20px;
}

.containerFooter__social__img{
    color: white;
    margin-top: 15px;
}
.containerFooter__social__img__spacer{
    margin-right: 25px;
}

.containerFooter__links__containerList{
    margin-right: 50px;
}

.containerFooter__links__containerList__list{
    color: white;
    list-style: none;
    font-weight: bold;
    font-size: 14px;
}

.containerFooter__links__containerList__list__item{
    margin-bottom: 10px;
}

.containerFooter__links__containerList__list__item--first{
    color: rgb(118, 138, 212);
}

.containerFooter__logo{
    float: left;
    margin: 30px 0;
}

.containerFooter__btn{
    float: right;
    color: white;
    background-color: rgb(145, 161, 220);
    margin: 30px 0;
}

/* Sections even modifiers */

.mainFullWidthContainer:nth-of-type(even){
    background-color: rgb(246, 246, 246);
}

.mainFullWidthContainer:nth-of-type(even) .sectionContainer__img{
    float: right;
    padding-right: 0;
    padding-left: 10px;
}
.mainFullWidthContainer:nth-of-type(even) .sectionContainer__text{
    padding-left: 0;
    padding-right: 50px;
}

/* MODIFIERS */
.containerHeader__nav__btnContainer__btn--small, .containerFooter__btn--small{
    font-size: 12px;
    padding: 5px 10px;
    margin-right: 54px;
}

.sectionContainer--centre{
    text-align: center;
}

.sectionContainer__text--last{
    display: inline-block;
    float: none;
    padding-top: 25px;
    padding-left: 50px;
}